:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  overflow: hidden;
}
.navbar {
  flex: 0.2;
  background-color: rgb(0, 21, 41);
}
.logo-container {
  background-color: #001529;
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.logo {
  margin: 0 0 0 15px;
}

.main {
  flex: 0.8;
  width: 100%;
}

.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.show-more {
  margin-top: 0px !important;
}

.crypto-card-container {
  min-height: 65vh !important;
}
.crypto-card {
  min-width: 250px;
}

.crypto-card .crypto-image {
  width: 35px;
}

.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}

.news-card {
  min-height: 300px !important;
}

.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}

.news-title {
  width: 70%;
}

.news-image-container img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.news-card p {
  color: #000;
  margin: 10px 0px !important;
}
.provider-container {
  display: flex;
  justify-content: space-between;
}

.provider-name {
  margin-left: 10px;
}

.select-news {
  width: 180px;
}
.crypto-image-Title{
  height: 50px;
  margin: 20px;
}
.coin-detail-container {
  margin: 30px;
  /* background-color: green; */
}

.coin-details-span{
  color: rgb(45, 194, 45);
  margin-right: 5px;
}
.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--pink);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  /* background-color: blue; */
}

.coin-value-statistics {
  /* background-color: red; */
  /* font-weight: 800; */
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--pink) !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}
.stats {
  font-weight: 800;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}
.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}
.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}
.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}
/* changes backgroudn in the column to white on hoover */
.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}
.chart-header {
  display: flex;
  justify-content: space-between;
  
  color: #0071bd;
}

.chart-title {
  color: #0071bd !important ;
}

.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
}
.price-change {
  margin: 0px !important;
}
.current-price{
  margin: 0px !important;
}
.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
